<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointDiscoveryBehaviorEnabled">
          <endpointDiscovery />
        </behavior>
        <behavior name="EndpointDiscoveryBehaviorDisabled">
          <endpointDiscovery enabled="false" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SimpleDiscoveryBehavior">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!--for service presence p2p-->
      <netPeerTcpBinding>
        <binding name="NetPeerTcpBindingUnsecure">
          <security mode="None" />
        </binding>
      </netPeerTcpBinding>
    </bindings>
    <services>
      <service name="Roniz.WCF.Discovery.Extenstions.WcfService.Service1">
        <endpoint address="net.tcp://localhost:0/Service1" binding="netTcpBinding"
          bindingConfiguration="" contract="Roniz.WCF.Discovery.Extenstions.WcfService.IService1" />
      </service>
      <service behaviorConfiguration="SimpleDiscoveryBehavior" name="Roniz.WCF.Discovery.Extenstions.WcfService.Service2">
        <endpoint address="net.tcp://localhost:0/My2Service" behaviorConfiguration=""
          binding="netTcpBinding" bindingConfiguration="" name="epEnabled"
          contract="Roniz.WCF.Discovery.Extenstions.WcfService.IService2" />
        <endpoint kind="udpDiscoveryEndpoint" />
      </service>
    </services>
    <client>
      <!--You can change here the mesh address to support specific needs-->
      <endpoint address="net.p2p://Roniz.Networking.Service.ServiceResolver" binding="netPeerTcpBinding" bindingConfiguration="NetPeerTcpBindingUnsecure" contract="Roniz.WCF.P2P.Sync.Interfaces.ISynchronizedState" name="Roniz.Networking.Presence" kind="" endpointConfiguration="" />
      <endpoint address="net.p2p://Roniz.WCF.P2P.Sync.DefaultMeshAddress" binding="netPeerTcpBinding" bindingConfiguration="NetPeerTcpBindingUnsecure" contract="Roniz.WCF.P2P.Sync.Interfaces.ISynchronizedState" name="SyncDefaultEndpointConfigurationName" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>